@import 'vendors/bootstrap';
@import 'vendors/fancybox';
@import 'vendors/font-awesome';
@import 'vendors/slick';
@import 'variables';
@import 'media-query';
@import 'typography';
@import 'buttons';
@import 'common';
@import 'templates/navigation';
@import 'templates/hero-area';
@import 'templates/mission';
@import 'templates/vision';
@import 'templates/products';
@import 'templates/contact';
@import 'templates/career';
@import 'templates/footer';

// Main CSS changes

.pageSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
.headerBackground {
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/leafwrap2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 648px 246px;
}

.staffCloudHeader {
    width: 100%;
    text-align: center;
}

.staffCloudText {
    font-family: "Baskerville";
    color: #FFEBCD;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.fbIcon {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

.igIcon {
    height: 70px;
    width: auto;
    margin-left: 10px;
}