{{ define "main" }}

{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="hero-slider">
  <div class="container-fluid p-0 m-0">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto">
        <div class="hero-slider-wrapper">
          <div class="item">
            <div class="item-image image-reveal" style="animation-delay: 2s;">
              <img src="{{ .image | absURL }}" alt="slider-image">
            </div>
            <div class="content">
              <h2>
                <span class="rev">
                  {{.title | markdownify}}
                </span>
              </h2>
              <h3>{{ .content | markdownify }}</h3>
              {{ if .button.enable }}
              {{ with .button }}
              <a href="{{ .link | absURL }}" class="hero-btn btn page-scroll">{{.label}}</a>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="scroll">
          <h6>SCROLL</h6>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<div class="Row">
    <div class="Column"><b>Birdsong on a Silent Reservoir</b><br><br>
Behold the body of water<br>
left breathless:<br>
watch the fabric boil<br>
beneath dancing insects,<br>
beads of an oar<br>
hovering there,<br>
singing as they knead<br>
the charcoal.<br>
           &nbsp;  &nbsp; &nbsp;  Listen:<br>
somewhere beneath the sun,<br>
the windless chime<br>
of the blue jays<br>
a pinpoint<br>
in the unchanging air.<br>
</div>


<div class="Column"><b>Misconceptions of a Loon</b><br><br>
I.<br>
The low cry<br>
of a wolf<br>
cutting downward<br>
into silent moonlight.<br>
<br>
II.<br>
The kind of rounding whoop<br>
you wouldn’t hear<br>
in the jungle, but<br>
might expect to hear in the jungle<br>
if you’d never been there...<br>
</div>
<div class="Column"><b>Mother Moth</b><br><br>
I.<br>
I learned to fold origami moths<br>
last night under the white light<br>
of a hot lamp. I cut the<br>
paper, clamp the edges, wedge<br>
it in half, half, diagonal<br>
iambic, paired in two, no glue<br>
that's not the true art. I<br>
start my thumbs like engines,<br>
crank my crooked pinkies - <br>
silly little fingers! Mold and<br>
mold and hold onto scraps.<br>
Wrap the edges around<br>
themselves like a constrictor...<br>
</div>
</div>

<style>
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: "Baskerville Old Face";
    background-color: #ffebcd; /*Optional*/
    border-radius: 10px;
}
</style>

{{ if site.Data.homepage.mission.enable }}
{{ with site.Data.homepage.mission }}
<section class="mission" id="mission">
  <div class="bg">
    <img src="{{`images/section-bg.jpg` | absURL}}" class="img-fluid" alt="section-bg">
  </div>
  <div class="right-shape">
    <img src="{{`images/right-shape.png` | absURL}}" class="img-fluid" alt="right-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{.section}}</span>
        </div>
        <div class="mission-content">
          <h2><span class="rev">{{ .title | markdownify}}</span></h2>
          <p>{{ .content | markdownify }}</p>

          <div class="video image-reveal">
            <a class="video-play"
              data-video="https://www.youtube.com/embed/{{.video_id}}?autoplay=1&showinfo=0&controls=0">
              <img src="{{ .video_thumb | absURL }}" class="img-fluid" alt="video-thumb">
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if site.Data.homepage.vision.enable }}
{{ with site.Data.homepage.vision }}
<section class="vision">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{ .section | markdownify }}</span>
        </div>
        <div class="visions">
          {{ range .vision_item }}
          <div class="vision-item">
            <div class="image image-reveal">
              <img src="{{ .image | absURL }}" class="img-fluid" alt="vision-thumb">
            </div>
            <div class="text-content">
              <h3>{{ .title | markdownify }}</h3>
              <p>{{ .content | markdownify}}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.product.enable }}
{{ with site.Data.homepage.product }}
<section class="products" id="products">
  <div class="bg">
    <img src="{{`images/section-bg-2.jpg` | absURL}}" class="img-fluid" alt="section-bg">
  </div>
  <div class="left-shape">
    <img src="{{`images/left-shape.png` | absURL}}" class="img-fluid" alt="left-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{.section | markdownify }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-block">
          <h2><span class="rev">{{ .title | markdownify }}</span>
          </h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-10 ml-auto p-0">
        <div class="product-slider-wrapper">
          {{ range .product_item }}
          <div class="product-item">
            <img src="{{ .image | absURL }}" alt="product-image">
            <div class="overlay">
              <div class="content">
                <h5>{{ .title | markdownify }}</h5>
                <p>{{ .content | markdownify }}</p>
                <a href="{{ .project_url | absURL }}">Learn More</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<div class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{ .section | markdownify }}</span>
        </div>
      </div>
      <div class="col-lg-7 ml-auto">
        <div class="text-block">
          <h2><span class="rev">{{ .title | markdownify }}</span></h2>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="map-div">
    {{ with site.Params.map }}
    <div id="map" data-center-lat="{{.map_center_lat}}" data-center-lng="{{.map_center_lng}}" data-position-lat="{{.map_position_lat}}" data-position-lng="{{.map_position_lng}}" data-marker="{{.map_marker | absURL }}" data-name="{{site.Title}}"></div>
    {{ end }}
    <div class="office">
      <div class="contents">
        <img src="{{ .image |absURL}}" alt="office">
        <div class="address">
          <h2>{{ site.Params.contact_info | markdownify}}</h2>
          <ul class="social-list list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item">
              <a href="{{ .link | safeURL }}" target="_blank">
                <i class="fa {{ .icon }}"></i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ if site.Data.homepage.call_to_action.enable }}
{{ with site.Data.homepage.call_to_action }}
<footer class="footer">
	<div class="call-to-action text-center">
		<h2>{{ .title | markdownify }}</h2>
		<a href="{{.button_link | absURL }}">{{.button_label}}</a>
	</div>
</footer>
{{end}}
{{end}}

{{ end }}